body {
  width: 100%;
}
.contactBody {
  padding: 20px 20px 20px 20px;
}

.display-contacts {
  width: 90%;
  margin: 50px 0 0 20px;
  border: solid 1px;
  text-align: center;
}

.title {
  border-bottom: 1px solid green;
  font-size: 1em;
  font-weight: bold;
}
.contact-li {
  border-bottom: 1px solid gray !important;
  padding: 0px !important;
}
.contact-main {
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-main .actions {
  display: flex;
  flex-direction: column;
}
.contact-devider {
  width: 100%;
  height: 1px;
  background: black;
}

.react-tel-input .form-control {
  width: 100% !important;
}
.react-input-emoji--container {
  border-radius: 0px !important;
}
.edit-button {
  padding: 5px 10px;
  cursor: pointer;
  color: blue;
}
.del-button {
  padding: 5px 10px;
  cursor: pointer;
  color: blue;
}
.del-modal-btn-div {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
