@media (max-width: 480px) {
  .footer {
    width: 480px;
    height: 50px;
    background-color: black;
    margin: 87% auto;
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  .footer {
    width: 900px;
    height: 50px;
    background-color: black;
    margin: 70% auto;
  }
}
