.custom-control.custom-switch{
  display: inline-block;
  margin: 0 0 0 10px;
}
@media (max-width: 480px) {
  .main-container {
    width: 95%;
    height: 700px;

    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 10%;
  }

  .form-container {
    margin-top: 5%;
    font-size: 1em;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .display-container {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
    margin: 10% auto;
  }
  .item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(16, 90, 199);
  }
  .item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(49, 39, 232);
  }
  .item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(39, 68, 232);
  }

  .outer-container {
    width: 90%;
    margin: 50% auto;
    text-align: center;
    border: 1px solid black;
  }
  .selection-container {
    display: grid;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50px 100px 50px;
  }

  .button-container {
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    background-color: black;
  }
  .button1 {
    width: 20%;
  }
  .button2 {
    width: 50%;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
  }
  .button3 {
    width: 60px;
    padding: 0;
    border: none;
    font-size: 26px;
    text-align: center;
    outline: none;
  }
  .button3:hover,
  .button2:hover{
    outline: none;
  }
  .button3:active{
    font-size: 28px;
  }
  .info-text,
  .info-text h4{
    height: 40px;
  }
}

.dial-page-stiky{
  position: sticky;
  top: 100%;
}
.full-vh{
  height: 100%;
}
@media (min-width: 481px) and (max-width: 900px) {
  .main-container {
    width: 95%;
    height: 90;

    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 50px;
  }

  .form-container {
    margin-top: 5%;
    font-size: 1em;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .display-container {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
    margin: 10% auto;
    border: 1px solid black;
  }
  .item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(16, 90, 199);
  }
  .item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(49, 39, 232);
  }
  .item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(39, 68, 232);
  }

  .dial-row1,
  .dial-row2,
  .dial-row3 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(224, 70, 43);
  }

  /* .dial-row2 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(224, 70, 43);
  }

  .dial-row3 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(224, 70, 43);
  } */

  .outer-container {
    width: 90%;
    margin: 50% auto;
    text-align: center;
    border: 1px solid black;
  }
  .selection-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .button-container {
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 10%;
  }
  .button1 {
    width: 20%;
  }
  .button2 {
    width: 50%;
  }
  .button3 {
    width: 20%;
  }
}
